<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GreenWatt-Government Subsidized Solar Installation Tracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.greenwatt.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResidentLogin</display-name>
    <servlet-name>ResidentLogin</servlet-name>
    <servlet-class>com.greenwatt.services.ResidentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResidentLogin</servlet-name>
    <url-pattern>/ResidentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstallerLogin</display-name>
    <servlet-name>InstallerLogin</servlet-name>
    <servlet-class>com.greenwatt.services.InstallerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallerLogin</servlet-name>
    <url-pattern>/InstallerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.greenwatt.services.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResidentRegister</display-name>
    <servlet-name>ResidentRegister</servlet-name>
    <servlet-class>com.greenwatt.services.ResidentRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResidentRegister</servlet-name>
    <url-pattern>/ResidentRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyInstallation</display-name>
    <servlet-name>ApplyInstallation</servlet-name>
    <servlet-class>com.greenwatt.services.ApplyInstallation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyInstallation</servlet-name>
    <url-pattern>/ApplyInstallation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResidentApplications</display-name>
    <servlet-name>ResidentApplications</servlet-name>
    <servlet-class>com.greenwatt.services.ResidentApplications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResidentApplications</servlet-name>
    <url-pattern>/ResidentApplications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstallerCRUD</display-name>
    <servlet-name>InstallerCRUD</servlet-name>
    <servlet-class>com.greenwatt.services.InstallerCRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallerCRUD</servlet-name>
    <url-pattern>/InstallerCRUD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestApproval</display-name>
    <servlet-name>RequestApproval</servlet-name>
    <servlet-class>com.greenwatt.services.RequestApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestApproval</servlet-name>
    <url-pattern>/RequestApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubsidyReports</display-name>
    <servlet-name>SubsidyReports</servlet-name>
    <servlet-class>com.greenwatt.services.SubsidyReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubsidyReports</servlet-name>
    <url-pattern>/SubsidyReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovedRequests</display-name>
    <servlet-name>ApprovedRequests</servlet-name>
    <servlet-class>com.greenwatt.services.ApprovedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovedRequests</servlet-name>
    <url-pattern>/ApprovedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteInstallation</display-name>
    <servlet-name>CompleteInstallation</servlet-name>
    <servlet-class>com.greenwatt.services.CompleteInstallation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteInstallation</servlet-name>
    <url-pattern>/CompleteInstallation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.greenwatt.services.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReport</display-name>
    <servlet-name>AddReport</servlet-name>
    <servlet-class>com.greenwatt.services.AddReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReport</servlet-name>
    <url-pattern>/AddReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstallerReports</display-name>
    <servlet-name>InstallerReports</servlet-name>
    <servlet-class>com.greenwatt.services.InstallerReports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallerReports</servlet-name>
    <url-pattern>/InstallerReports</url-pattern>
  </servlet-mapping>
</web-app>